<div class="col-xs-3">
  <div class="row">
    <div class="col-md-10">
      <div class="list-group">
       
         <a href="#educadora-gestionar/" class="list-group-item {active : location.path()=='/educadora-gestionar'}" ng-show="$root.$storage.currentUser.isAdmin">Gestionar Educadoras</a>
        <a href="#parvulo-gestionar/" class="list-group-item">Gestionar Parvulos</a>
        <a href="#asistencia-registrar/" class="list-group-item">Gestionar Asistencias</a>
        <a href="#documento-gestionar/" class="list-group-item">Gestionar Documentos</a>
        <a href="#noticia-gestionar/" class="list-group-item">Gestionar Noticias</a>
        <a href="#galeria-gestionar/" class="list-group-item">Gestionar Galeria</a>
      </div>
      <div class="row">
          <div class="col-md-10">
              <div class="list-group">
                  <a href="#/cambio-password" class="list-group-item">Cambiar Contraseña</a>
                  <a href="#/cambio-mail" class="list-group-item">Cambiar Correo</a>
              </div>
          </div>      
    </div>
  </div>
  
</div>