<div class="col-xs-3">
  <div class="row">
    <div class="col-md-10">
      <div class="list-group">
        <a href="#/hito-ver/{{$root.$storage.currentUser.id_parvulo}}" class="list-group-item">Ver Hitos</a>
        <a href="#/imprevisto-ver/{{$root.$storage.currentUser.id_parvulo}}" class="list-group-item">Ver Imprevistos</a>
        <a href="#/asistencia-ver/{{$root.$storage.currentUser.id_parvulo}}" class="list-group-item">Ver Asistencia</a>
        <a href="#/ver-documentos/" class="list-group-item">Ver Documentos</a>
        
      </div>
      <div class="row">
          <div class="col-md-10">
              <div class="list-group">
                  <a href="#/cambio-password" class="list-group-item">Cambiar Contraseña</a>
                  <a href="#/cambio-mail" class="list-group-item">Cambiar Correo</a>
              </div>
          </div>      
    </div>
  </div>
  
</div>