<div class="row">
    <h1>{{$root.$storage.currentUser.nombre}}</h1>
</div>
<br>
<!--<div class="table-responsive">-->
<table class="table table-hover table-striped">
    <tbody>
        <tr>
            <th>Rut:</th>
            <td> {{$root.$storage.currentUser.rut_parvulo}} </td>
        </tr>
        <tr>
            <th>Nombre:</th>
            <td> {{$root.$storage.currentUser.nombre}}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td> {{$root.$storage.currentUser.email}}</td>
        </tr>
        <tr>
            <th>Fecha nacimiento:</th>
            <td> {{$root.$storage.currentUser.fecha_nacimiento}} </td>
        </tr>
        <tr>
            <th>Talla:</th>
            <td> {{$root.$storage.currentUser.talla}} </td>
        </tr>
        <tr>
            <th>Peso:</th>
            <td> {{$root.$storage.currentUser.peso}} </td>
        </tr>
    </tbody>
</table>