<img style="margin-bottom:10px; margin-top:10px" class="center-block" src="img/banner-experiencia.jpg"></img>
<div class="panel panel-warning">
            <div class="panel-heading text-center">
                <h2>Nuestra experiecia pedagogica</h2>
            </div>
            <div class="panel-body">
				<p class="text-justify"> El Jardín Infantil Conejito Blanco ofrece una variada cantidad de experiencias de aprendizaje para el desarrollo integral de los párvulos, potenciando sus 		habilidades cognitivas, sociales y motrices, estas experiencias son mediadas por los adultos 	 que conforman los equipos pedagógicos y también con apoyo de distintos actores de la 				comunidad UV.
					<br>Día de la familia<br>
					En esta jornada las familias participaron activamente en actividades de vida saludable y diversos talleres junto a sus hijos e hijas, estas actividades se realizaron con apoyo de profesionales de CESFAM Plaza Justicia, alumnas de la Carrera de Educación Parvularia y apoderados voluntarios.
					<br>En el Taller de expresión musical colaboraron padres alumnos de la carrera de Música de nuestra Universidad.
					<br>El Taller de estimulación motriz fue realizado por Blanca Farías, terapeuta Ocupacional CESFAM, Plaza Justicia.
					<br>La actividad mágico terapia, es una experiencia educativa lúdica basada en actividades de magia enfocadas a la promoción y cuidado de la salud bucal en los párvulos.
					Yoga Infantil. Los párvulos del nivel Transición han participado activamente en ferias saludables organizadas en la Comuna.
					Semana Otea Koa
					<br>En conmemoración del aniversario de nuestro jardín infantil celebramos la semana Otea Koa "Alegre Amanecer" (Rapa Nui), enfocándola al cuidado del medio ambiente.
				</p>
			</div>
</div>
