<img style="margin-bottom:10px; margin-top:10px" class="center-block" src="img/salacuna-menor.jpg"></img>
<div class="panel panel-warning">
            <div class="panel-heading text-center">
                <h2></h2>
            </div>
            <div class="panel-body">
				<p class="text-justify"> 
				Recibimos a lactantes desde los 84 días de nacido hasta los dos años de edad. Su equipo Pedagógico Técnico está 
				compuesto por una Educadora de Párvulos y Tres técnicos en Educación Parvularia.

                Este nivel cuenta con una capacidad para 14 lactantes. Tanto el mobiliario como el material 
                didáctico que complementa el espacio educativo cumplen con la normativa entregada por la Junta Nacional de Jardines Infantiles (JUNJI).

                A partir de una evaluación diagnóstica, el equipo Pedagógico Técnico formula un plan de acción que da respuesta a las n
                ecesidades de cada párvulo, así como también, la de presentar un contexto desafiante que estimule su sentido constante de exploración, a 
                través de la organización de un espacio educativo de acuerdo a los intereses que los niños y niñas presentan.

                Algunas de las estrategias metodológicas empleadas son: masajes Shantala, efecto Mozart, juego Heurístico, entre otras.
				</p>
			</div>
			<div class="panel panel-warning">
			
			<div class="panel-heading text-center">
                <h2></h2>
            </div>
            <img style="margin-bottom:10px; margin-top:10px" class="center-block" src="img/salacuna-mayor.jpg"></img>
            <div class="panel-body">
				<p class="text-justify"> 
				En este nivel, contempla a lactantes de 84 días de nacido hasta los dos años de edad. Su capacidad permite un grupo de 
				12 párvulos y su Equipo Pedagógico Técnico está comprendido por una Educadora de Párvulos y dos Técnicos en Educación Parvularia.

                Al igual que el nivel Sala Cuna Heterogénea I, el trabajo pedagógico se inicia con una evaluación diagnóstica que permite evidenciar 
                las necesidades e intereses de los niños y niñas que conforman el nivel educativo. De esta forma, se determinan las estrategias apropiadas para el 
                desarrollo integral de cada párvulo, así como también de la organización e implementación del espacio educativo para que este sea estimulante y promueva 
                la curiosidad de los lactantes.

                La expresión artística, la estimulación sensoriomotríz, la experimentación didáctica, son solo algunas de las estrategias metodológicas que se utilizan en este nivel.
			</div>
			</div>
			
			<div class="panel panel-warning">
			
			<div class="panel-heading text-center">
                <h2></h2>
            </div>
            <img style="margin-bottom:10px; margin-top:10px" class="center-block" src="img/salacuna-hetereogeneo.jpg"></img>
            <div class="panel-body">
				<p class="text-justify"> 
				Este grupo corresponde a un grupo de 32 párvulos que se encuentran entre los dos a tres años y medio de edad. Se encuentran a
				cargo de una Educadora de Párvulos y tres Técnicos en Educación Parvularia.

                La metodología empleada se inicia con una evaluación diagnóstica aplicada a los párvulos, que permite determinar
                las necesidades e intereses de los niños y niñas, por ende, establecer estrategias más adecuadas a utilizar, así como: la organización del grupo, del 
                mobiliario y del material didáctico, buscando que todo de cumplimiento a la normativa vigente, además de ofrecer un medio desafiante para los párvulos que 
                buscan desarrollar su autonomía.

                Entre las estrategias empleadas podemos mencionar: juego simbólico, juego centralizado, pensamiento creativo, entre otras.
			</div>
			</div>
			
				<div class="panel panel-warning">
			
			<div class="panel-heading text-center">
                <h2></h2>
            </div>
            <img style="margin-bottom:10px; margin-top:10px" class="center-block" src="img/medio-mayor.jpg"></img>
            <div class="panel-body">
				<p class="text-justify"> 
				Los niños y niñas que forman este nivel tienen entre 3 años y medio llegando a los 4 años. Su equipo Pedagógico Técnico está conformado por una 
				Educadora de Párvulos (en común con el nivel Transición) y una Técnico en Educación Parvularia. Este grupo no supera los 10 párvulos.

                La metodología de trabajo aquí empleada se fundamenta principalmente en potenciar la autovalía de los/as niños/as, por lo tanto su rol como 
                actor principal dentro del quehacer educativo es primordial para decidir la organización del mobiliario y material didáctico, el cual queda a su alcance y 
                libre utilización.

                Los intereses y preferencias de los párvulos quedan reflejados en las temáticas a desarrollar durante el año, donde se enfatiza el trabajo colaborativo, 
                la creatividad y por sobretodo el desafío de sus capacidades.

                En la descripción del Proyecto educativo se pueden observar las estrategias empleadas en este nivel, tales como: Yoga, experimentación didáctica, taller 
                de creatividad, entre otras.
			</div>
			</div>
			
			<img style="margin-bottom:10px; margin-top:10px" class="center-block" src="img/transicion.jpg"></img>
            <div class="panel-body">
				<p class="text-justify"> 
				El nivel está integrado por niños y niñas de cuatro años de edad hasta los 4 años once meses cumplidos en marzo del presente año. Una Educadora de Párvulos, 
				en común con el nivel Medio Mayor, y una Técnico en Educación Parvularia, son los adultos responsables de este grupo.

                Aquí los niños y niñas son quienes deciden la organización del mobiliario, establecen las temáticas de los espacios educativos y proponen las actividades pedagógicas a 
                realizar, entre otras acciones, siendo ellos/as los protagonistas en todo momento y teniendo como mediador al equipo Pedagógico Técnico.

                Se destaca que en el nivel Transición se desarrolla el Proyecto de Ciencias REDECS en coordinación con el Centro de Investigación Biomédica
                de la Universidad de Valparaíso, de igual forma, se aplican talleres de expresión artística, lenguaje y matemáticas, tal como se describe en el Proyecto Educativo.
			</div>
			</div>
			
			
</div>
