<img style="margin-bottom:10px; margin-top:10px" class="img-responsive center-block" src="img/planesdeemergencia/banner-planes-emergencia.jpg"></img>
<div class="row">
    <div class="col-xs-12 list-group">
        <a class="list-group-item active">
            <h2 class="list-group-item-heading">PROCEDIMIENTOS EMERGENCIA POR ORDEN DE FRECUENCIA</h2>
            <p class="list-group-item-text">
                <ol>
                    <li>SISMOS:</li>
                    <p class="text-justify">Alerta y alarma: Se hace contacto con Bomberos y Carabineros para apoyo humano en el desalojo de los pre-escolares hacia la zona segura.
                    <br>Instrucciones:</br></p>
                    <ul>
                        <li class="text-justify">Permanecer en el recinto, no salir al exterior.</li>
                        <li class="text-justify">Las Educadoras mantendrán la calma y organizarán a los pre-escolares.</li>
                        <li class="text-justify">La Educadora o Asistente más cercana a la puerta procede a abrirla.</li>
                        <li class="text-justify">Retirarse lejos de las ventanas.</li>
                        <li class="text-justify">Al producirse desprendimiento de objetos, deben instalarse bajo el mobiliario.</li>
                        <li class="text-justify">En caso de ruptura de luces fluorescentes o similares, evacuar lo antes posible.</li>
                        <li class="text-justify">No evacuar durante el Sismo.</li>
                        <li class="text-justify">Finalizado el sismo, se procede la inmediata evacuación del recinto hacia la zona de seguridad cubriendo la cabeza con artículos o las manos.</li>
                        <li class="text-justify">Sólo personal de bomberos y expertos podrán evaluar las condiciones de habitabilidad del recinto.</li>
                    </ul>
                    <li>INCENDIOS:</li>
                    <p class="text-justify">Alerta y alarma: Se hace contacto con personal de la Escuela de Trabajo Social para apoyo humano en el desalojo y traslado de los pre-escolares.
                    <br>Instrucciones</br></p>
                    <ul>
                        <li class="text-justify">Al producirse principio de incendio, se evacua las salas a la zona se seguridad por fuerza mayor desalojarán el recinto por el portón.</li>
                        <li class="text-justify">Se da aviso a Bomberos y Carabineros.</li>
                        <li class="text-justify">Las personas asignadas a los extintores proceden a actuar inmediatamente o su reemplazante designado de no estar presente, recuerde que sólo debe actuar sólo con la carga existente y retirarse a la zona de seguridad.</li>
                        <li class="text-justify">No abrir puertas ni ventanas, si no fuese necesario.</li>
                    </ul>
                    
                    <li>ESCAPE DE GAS:</li>
                    <p class="text-justify">Alerta y alarma: Se hace contacto con personal de la Escuela de Trabajo Social para apoyo humano en el desalojo de los pre-escolares y trasladarlos del recinto.
                    <br>Instrucciones:</br></p>
                    <ul>
                        <li class="text-justify">Se evacuan las salas del primer piso por la entrada principal hacia la zona segura, por ningún motivo por el sector de los depósitos de gas licuado.</li>
                        <li class="text-justify">Las manipuladoras de alimentos realizan el corte de gas central.</li>
                        <li class="text-justify">Se da aviso a Bomberos y Carabineros.</li>
                        <li class="text-justify">No encender fósforos ni fuego de ningún tipo.</li>
                        <li class="text-justify">Los expertos evaluarán, inspeccionarán y repararán.</li>
                    </ul>
                    <li>MANIFESTACIONES ESTUDIANTILES:</li>
                    <ul>
                        <li class="text-justify">Cuando la manifestación es anunciada, procurar que los niños no se encuentren en el lugar a la hora de la marcha.</li>
                        <li class="text-justify">Cuando es improvisada, manténgase atento a las instrucciones.</li>
                        <li class="text-justify">Cierre válvulas, apague equipos.</li>
                        <li class="text-justify">Mantener a los párvulos en sus salas.</li>
                        <li class="text-justify">Si es necesario cubrir la cara con un pañuelo o papel, y mantener cerradas puertas y ventanas.</li>
                        <li class="text-justify">Jamás se moje la cara o mucosa.</li>
                        <li class="text-justify">De ser posible, solicitar a los padres que retiren a sus hijos que evacuen a favor del viento y cierre.</li>
                        <li class="text-justify">Si se sofoca siga respirando normalmente.</li>
                        <li class="text-justify">Si no puede salir de la sede, diríjase y manténgase en un lugar protegido.</li>
                        <li class="text-justify">Evalúe la naturaleza y magnitud del problema.</li>
                        <li class="text-justify">Espere las instrucciones.</li>
                    </ul>
                    <li>AMENAZA DE BOMBA:</li>
                    <ul>
                        <li class="text-justify">De la alarma a la persona encargada.</li>
                        <li class="text-justify">El encargado deberá llamar a carabineros, bomberos y ambulancia.</li>
                        <li class="text-justify">Si es posible corte los suministros.</li>
                        <li class="text-justify">Proceder con el Plan de Evacuación.</li>
                        <li class="text-justify">Evacue en forma ordenada y aléjese rápidamente de la sede.</li>
                    </ul>
                    <li>TSUNAMIS:</li>
                    <p class="text-justify">Alerta y alarma: El Jardín InfantilConejito Blanco se encuentra ubicado en calle Chiloé a una cuadra de Calle Colón a una cota de 10 metros de altura media al nivel del mar. La cota de seguridad para el sector de Valparaíso y Viña del Mar según fuente "El Mercurio de Valparaíso, miércoles 1 de febrero de 2011", he informado por la ONEMI y el SHOA, es entre 5 a 10 metros de altura media al nivel del mar. Por lo tanto el riesgo de inundación por tsunami es muy bajo, consultar carta de inundación del SHOA de este miso documento.
                    <br/>CARTA DE INUNDACIÓN<br/>
                    </p>
                    <img style="margin-bottom:10px; margin-top:10px" class="img-responsive" src="img/planesdeemergencia/TSUNAMI.bmp"></img>
                    <img style="margin-bottom:10px; margin-top:10px" src="img/planesdeemergencia/FLECHA1.bmp"></img>
                    <p>Jardín Infantil Conejito Blanco, Universidad de Valparaíso.</p>
                    <br>INSTRUCCIONES:</br>
                    <ul>
                        <li class="text-justify">En caso de tsunami, las personas que se encuentren en las dependencias del Jardín Infantil, deberán permanecer en el recinto tomando la precaución de mantenerse en el segundo piso.</li>
                    </ul>
                    <li class="text-justify">COLAPSO DE ESTRUCTURA (caidas de vidrios):</li>
                    <ul>
                        <li class="text-justify">En caso de caídas de vidrio dé la alarma.</li>
                        <li class="text-justify">Hasta que se verifique la seguridad del exterior del edificio, espere la indicación de salida y acate las instrucciones de evacuación.</li>
                        <li class="text-justify">Al llegar a la zona de seguridad no se disperse.</li>
                        <li class="text-justify">No reingrese hasta que se autorice.</li>
                    </ul>
                    <br/>
                    <center><h2>VÍAS DE EVACUACIÓN</h2></center>
                    <br/>
                    <img style="margin-bottom:10px; margin-top:10px" class="img-responsive" src="/img/planesdeemergencia/1piso.bmp"></img>
                    <img style="margin-bottom:10px; margin-top:10px" class="img-responsive" src="/img/planesdeemergencia/2piso.bmp"></img>
                </ol>
            </p>
        </a>
    </div>
</div>
