<div class="row">
    <h1>Educadora</h1>
</div>
<br>
<!--<div class="table-responsive">-->
<table class="table table-hover table-striped">
    <tbody >
        <tr>
            <th>¿Es Administrador?:</th>
            <td> {{usuario}}</td>
        </tr>
        <tr>
            <th>Rut:</th>
            <td> {{educadora.rut_educadora}} </td>
        </tr>
        <tr>
            <th>Nombre:</th>
            <td> {{educadora.nombre}}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td> {{educadora.email}}</td>
        </tr>
    </tbody>
</table>